<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:icon="@drawable/ic_launcher">
        <meta-data
            android:name="com.m8test.plugin.description"
            android:value="本插件使用 rhino 实现 javascript 语言." />
        <meta-data
            android:name="com.m8test.plugin.url"
            android:value="https://github.com/m8test/Plugins" />
        <meta-data
            android:name="com.m8test.plugin.type"
            android:value="language" />
        <meta-data
            android:name="com.m8test.plugin.name"
            android:value="Javascript" />
        <meta-data
            android:name="com.m8test.plugin.className"
            android:value="com.m8test.language.rhino.RhinoLanguage" />
        <meta-data
            android:name="com.m8test.plugin.minRuntimeVersionName"
            android:value="0.1.33" />
    </application>
</manifest>